@charset 'utf-8';

.repo-form {
  margin-top: 15px;
}

.issue-list {
  margin-top: 15px;
}

.issue-detail {
  margin-top: 15px;
}

.issue-detail p {
  padding: 5px;
  font-size: 16px;
}

.issue-detail h4 {
  font-size: 30px;
}

.issue-number {
  font-size: 25px;
  color: gray;
}