@charset 'utf-8';

.button {
  border: 2px solid #6B4E90;
  background-color: #6B4E90;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.available-repos {
  margin-top: 10px;
}

.add-new-repo {
  margin-top: 10px;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.button:visited {
  text-decoration: none;
  color: white;
}

.repo-form {
  margin-top: 15px;
}

.issue-list {
  margin-top: 15px;
}

.issue-detail {
  margin-top: 15px;
}

.issue-detail p {
  padding: 5px;
  font-size: 16px;
  overflow-wrap: break-word;
}

.issue-detail h4 {
  font-size: 30px;
}

.issue-number {
  font-size: 25px;
  color: gray;
}

.issue-title {
  font-size: 25px;
  margin-left: 5px;
}

.issue-author-and-date {
  margin-top: 5px;
  background-color: #09093B;
  color: white;
  border: 1px solid #09093B;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 2px;
}

.issue-user-url {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.issue-user-url:hover {
  color: white;
  text-decoration: none;
}

.issue-user-url:visited {
  color: white;
  text-decoration: none;
}

.issue-created-at {
  font-size: 11px;
  margin-left: 5px;
}

.issue-detail-text {
  border: 0.2px solid black;
  padding: 2px;
  margin-bottom: 5px;
  overflow-y: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.controls {
  margin-top: 15px;
}

.back-button {
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMzAgMTYuNUgxMS43NGw4LjM4LTguMzhMMTggNiA2IDE4bDEyIDEyIDIuMTItMi4xMi04LjM4LTguMzhIMzB2LTN6Ii8+PC9zdmc+);
  background-color: rgba(0,0,0,.20);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
  margin: 10px;

}

.back-button:hover {
  background-color: rgba(0,0,0,.30);
}

.label {
  color: white;
  margin: 5px 2px;
  padding: 5px;
  border-radius: 3px;
}